$lightGreen: #e1ede6;
$midGreen: #598d66;
$darkGreen: #376b44;
$grey: #86928b;
$dark: #2c2d35;
$light: #f4f6f5;
$orange: #eedb6d;

// media
$xxl: 1920px;
$xl: 1200px;
$lg: 992px;

$md: 768px;
$sm: 576px;
$xs: 374px;
